$primary-color: rgba(93, 97, 196, 1);
$background-color: rgba(242, 245, 247, 1);
// $text-color: rgb();
// $shadow-color: rgb();
// $border-color: rgb();
// $header-color: rgb();
// $callToAction-color: rgb();
 $hover-color: rgba(240, 236, 236, 1);