@import '../../scss/commonFunctions';
@import '../../scss/variables';

*, :after, :before {
    box-sizing: border-box;
}

* {
    font-family: 'Space Grotesk';
}

.signup-body {
    background: $background-color;
    .container {
        @include flexCenter();
        align-items: flex-start;
        .signup-page-image{
            width: 100%;
            background-color: $primary-color;
            display: flex;
            padding-top: 50px;
            padding-bottom: 200px;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            img{
                border-radius: 100px 0px 100px 0px;
                 width: 100%;
            }

            .Transform-your-neighbourhood-with-the-power-of-the-community {
                width: 541px;
                height: 267px;
                font-size: 48px;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.3;
                letter-spacing: normal;
                text-align: center;
                color: #fff;
              }

        }

        .signup {
            margin-top: 10px;
            width: 100%;
            .mainLogo{
                padding-left: 10%;
                height: 100px;
            }
            .signup-header{
                font-weight: map-get($font-weights, bold);
                font-size: 64px;
                padding-left: 10%;
                padding-right: 20%;
                text-align: left;
                width: 100%;
            }
            .signup-description{
                padding-left: 10%;
                padding-right: 10%;
                text-align: left;
                width: 100%;
            }
            .signup-form {
                width: 100%;
                padding-left: 10%;
                padding-right: 10%;
                background-color: $background-color;
                .signup-input {
                    align-items: center;
                    justify-content: center;
                    &__sub-field{
                        padding-left: 10px;
                        padding: 5px;
                        margin-bottom: 10px;
                        input {
                            font-size: 1em;
                            border-radius: 5px;
                            border: 10px;
                            height: 50px;
                            border-width: 10px;
                            background: white;
                            border-color: black;
                            padding: 10px;
                            margin-top: 5px;
                            width: 100%;
                            @include addShhadow($hover-color);
                        }
                    }
                }
                &__submit {
                    margin-top: 20;
                    padding: 5px;
                    .signup-action {
                        display: flex;
                        justify-content: center;
                        padding: 15px 20px;
                        background: $primary-color;
                        font-size: 0.85em;
                        color: #fff;
                        text-decoration: none;
                        border-radius: 4px;
                        &:hover {
                            background: $hover-color;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 990px) {
    .signup-body{
        .container {
            flex-direction: column;
            .signup-page-image{
                width: 100%;
            }
        }
    }
}